@using Microsoft.AspNetCore.Identity
@model BugTracker.Models.CommonViewModels.UserProjectModel
@inject UserManager<ApplicationUser> _userManager
    <div class="card m-4">
        <div class="card-header">
            <h2>@ViewData["cardHeader"]</h2>
        </div>
        <div class="card-body">
            <form method="post" asp-action="@ViewData["aspAction"]" id="@ViewData["formTitle"]">
                <div class="row">
                    <div class="col-3 mx-auto">
                        <div class="form-group">
                            <label asp-for="ProjectModel.Title">Title</label>
                            <input asp-for="ProjectModel.Title" class="form-control" type="text" placeholder="Enter a Title" />
                            <span asp-validation-for="ProjectModel.Title" class="text-danger" style="display:inline-block;"></span>
                        </div>
                        <div class="form-group">
                            <label asp-for="ProjectModel.Description">Description (0-100 Characters)</label>
                            <textarea asp-for="ProjectModel.Description" class="form-control" maxlength="100" form="@ViewData["formTitle"]"></textarea>
                        </div>
                        <div class="form-group mt-4" style="text-align:center">
                            <button class="btn btn-primary" type="submit">@ViewData["buttonLabel"]</button>
                        </div>
                    </div>
                    <div class="col-8 mx-auto">
                        <div class="card">
                            <div class="card-header">
                                <h4>Available Users</h4>
                                <div class="text-muted">Select Users to Assign to this Project</div>
                            </div>
                            <div class="card-body">
                                <div class="table-responsive" style="height:275px">
                                    <table class="dataTable table table-sm table-bordererless" style="table-layout:fixed;width:auto">
                                        <thead>
                                            <tr>
                                                <th>Selected</th>
                                                <th>Name</th>
                                                <th>Email</th>
                                                <th>Username</th>
                                                <th>Roles</th>
                                            </tr>
                                        </thead>
                                        <tbody>
                                            @foreach (var user in Model.UserModel.Users)
                                            {
                                                <tr>
                                                    <td>
                                                        @if (_userManager.GetUserId(User) == user.Id)
                                                        {
                                                            <input type="checkbox" value="@user.Id" name="userIds" checked="checked" disabled="disabled" />
                                                        }
                                                        else if (Model.ProjectModel.UserIds.Contains(user.Id))
                                                        {
                                                            <input type="checkbox" value="@user.Id" name="userIds" checked="checked" />
                                                        }
                                                        else
                                                        {
                                                            <input type="checkbox" value="@user.Id" name="userIds" />
                                                        }
                                                    </td>
                                                    <td>@user.FullName</td>
                                                    <td>@user.Email</td>
                                                    <td>@user.UserName</td>
                                                    <td>@user.Roles</td>
                                                </tr>
                                            }
                                        </tbody>
                                    </table>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                @Html.HiddenFor(p => p.ProjectModel.Id)
                @foreach (var user in Model.UserModel.Users)
                {
                    @Html.HiddenFor(o => o.UserModel.Users[Model.UserModel.Users.IndexOf(user)].Id)
                    @Html.HiddenFor(o => o.UserModel.Users[Model.UserModel.Users.IndexOf(user)].FirstName)
                    @Html.HiddenFor(o => o.UserModel.Users[Model.UserModel.Users.IndexOf(user)].LastName)
                    @Html.HiddenFor(o => o.UserModel.Users[Model.UserModel.Users.IndexOf(user)].FullName)
                    @Html.HiddenFor(o => o.UserModel.Users[Model.UserModel.Users.IndexOf(user)].UserName)
                    @Html.HiddenFor(o => o.UserModel.Users[Model.UserModel.Users.IndexOf(user)].Email)
                    @Html.HiddenFor(o => o.UserModel.Users[Model.UserModel.Users.IndexOf(user)].Roles)
                }
            </form>
        </div>
    </div>