@using Microsoft.AspNetCore.Identity
@{ 
    ViewBag.Title = "Swatter - Ticket Details";
}
@model BugTracker.Models.CommonViewModels.TicketCommentModel
@inject UserManager<ApplicationUser> _userManager
<div id="DeleteModal"></div>
<div class="container-fluid">
    <div>
        <a class="btn btn-outline-secondary ml-4 mt-4"
           asp-controller="Projects"
           asp-action="ProjectDetails"
           asp-route-projectId="@Model.TicketModel.Project.Id"
           >Back to Project Details</a>
        <a class="btn btn-outline-secondary ml-4 mt-4"
           asp-controller="Tickets"
           asp-action="Index"
           >All Tickets</a>
    </div>
    <div class="row">
        <div class="col-5">
            <div class="card m-4">
                <div class="card-header">
                    <h4>Details for Ticket #@Model.TicketModel.Id</h4>
                    @if ((_userManager.GetUserId(User) == Model.TicketModel.Creator.Id) || User.IsInRole("Admin"))
                    {
                        <a class="nav-link p-0" asp-action="EditTicket" asp-route-ticketId="@Model.TicketModel.Id">Edit Ticket</a>
                        <a class="nav-link text-danger p-0"
                           data-toggle="ajax-modal"
                           data-target="#modal-delete"
                           data-url="@Url.Action("DeleteTicket", "Tickets", new { id = Model.TicketModel.Id })"
                           style="cursor:pointer">Delete Ticket</a>
                    }
                </div>
                <div class="card-body">
                    <div class="row text-center">
                        <div class="col-6">
                            <h6>Title</h6>
                            <span class="text-muted">@Model.TicketModel.Title</span>
                        </div>
                        <div class="col-6">
                            <h6>Description</h6>
                            <span class="text-muted">@Model.TicketModel.Description</span>
                        </div>
                    </div>
                    <hr />
                    <div class="row text-center">
                        <div class="col-6">
                            <h6>Project</h6>
                            <span class="text-muted">@Model.TicketModel.Project.Title</span>
                        </div>
                        <div class="col-6">
                            <h6>Assigned Developer</h6>
                            <span class="text-muted">@Model.TicketModel.AssignedDeveloper.UserName</span>
                        </div>
                    </div>
                    <hr />
                    <div class="row text-center">
                        <div class="col-6">
                            <h6>Submitter</h6>
                            <span class="text-muted">@Model.TicketModel.Creator.UserName</span>
                        </div>
                        <div class="col-6">
                            <h6>Create Date</h6>
                            <span class="text-muted">@Model.TicketModel.CreateDate</span>
                        </div>
                    </div>
                    <hr />
                    <div class="row text-center">
                        <div class="col-6">
                            <h6>Ticket Priority</h6>
                            <span class="text-muted">@Model.TicketModel.TicketPriority</span>
                        </div>
                        <div class="col-6">
                            <h6>Ticket Status</h6>
                            <span class="text-muted">@Model.TicketModel.TicketStatus</span>
                        </div>
                    </div>
                    <hr />
                    <div class="row text-center">
                        <div class="col-6">
                            <h6>Ticket Type</h6>
                            <span class="text-muted">@Model.TicketModel.TicketType</span>
                        </div>
                        <div class="col-6">
                            <h6>Last Updated By</h6>
                            <span class="text-muted">@Model.TicketModel.LastUpdatedBy.UserName</span>
                        </div>
                    </div>
                    <hr />
                    <div class="row text-center">
                        <div class="col-6">
                            <h6>Last Update Date</h6>
                            <span class="text-muted">@Model.TicketModel.LastUpdateDate</span>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-7">
            <div class="card m-4">
                <div class="card-header">
                    <h4>Ticket Comments</h4>
                    <div class="text-muted">All comments for this Ticket.</div>
                </div>
                <div class="card-body">
                    <div class="table table-responsive">
                        <table class="dataTable table table-sm">
                            <thead>
                                <tr>
                                    <th style="width:20%">Commenter</th>
                                    <th style="width:50%">Comment</th>
                                    <th style="width:20%">Date</th>
                                </tr>
                            </thead>
                            <tbody>
                                @foreach (var comment in Model.TicketModel.Comments)
                                {
                                    <tr>
                                        <td class="align-middle">@comment.Commenter.UserName</td>
                                        <td class="align-middle">@comment.Message</td>
                                        <td class="align-middle">@comment.CreateDate</td>
                                    </tr>
                                }
                            </tbody>
                        </table>
                    </div>
                    <hr />
                    <form asp-controller="Tickets" asp-action="AddComment" method="post">
                        <div class="form-group">
                            <label asp-for="CommentModel.Message">Add a Comment?</label>
                            <textarea class="form-control py-2 px-2" asp-for="CommentModel.Message" maxlength="150"></textarea>
                        </div>
                        <button class="btn btn-primary" type="submit">Add Comment</button>
                        @Html.HiddenFor(m => m.TicketModel.Id)
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>