@{ 
    ViewBag.Title = "Swatter - Project Details";
}
@model BugTracker.Models.Home.ProjectListingModel
<div class="container-fluid">
    <div class="row">
        <div class="col">
            <form asp-action="Projects" method="get">
                <button class="btn btn-outline-secondary m-4" type="submit">Back to Projects</button>
            </form>
            <div class="card ml-4 mr-4 mb-4">
                <div class="card-header">
                    <h3>Details for @Model.Title</h3>
                </div>
                <form asp-action="ProjectDetails" method="post">
                    <div class="card-body">
                        <div class="row justify-content-around">
                            <div class="col col-3">
                                <h5><label asp-for="Title">Title</label></h5>
                                <input type="text" asp-for="Title" value="@Model.Title" />
                            </div>
                            <div class="col col-5">
                                <h5><label asp-for="Description">Description</label></h5>
                                <textarea style="width:100%" asp-for="Description" maxlength="100">@Model.Description</textarea>
                            </div>
                            <div class="col col-2">
                                <h5>Creator</h5>
                                <div>@Model.Creator.UserName</div>
                            </div>
                            <div class="col col-2">
                                <h5>Create Date</h5>
                                <div>@Model.CreateDate</div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col">
                                <button class="btn btn-primary mt-2" type="submit">Save Changes</button>
                            </div>
                        </div>
                    </div>
                    @Html.HiddenFor(p => p.Id)
                </form>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col">
            <div class="card m-4">
                <div class="card-header">
                    <h3>Project Users</h3>
                </div>
                <div class="card-body">
                    <form asp-action="EditUsers" method="post">
                        <div class="table-responsive">
                            <table class="table table-bordered" width="100%" cellspacing="0" style="table-layout:fixed">
                                <thead>
                                    <tr>
                                        <th>Name</th>
                                        <th>Username</th>
                                        <th>Role(s)</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    @foreach (var user in Model.UserIndexModel.Users)
                                    {
                                        <tr>
                                            <td>@user.FullName</td>
                                            <td>@user.UserName</td>
                                            <td>@user.Roles</td>
                                        </tr>
                                    }
                                </tbody>
                            </table>
                        </div>
                    </form>
                </div>
            </div>
        </div>
        <div class="col">
            <div class="card m-4">
                <div class="card-header">
                    <h3>Project Tickets</h3>
                </div>
                <div class="card-body">
                    <div class="table-responsive">
                        <table class="table table-bordered" width="100%" height="200px" cellspacing="0" style="table-layout:fixed">
                            <thead>
                                <tr>
                                    <th>Title</th>
                                    <th>Submitter</th>
                                    <th>Developer</th>
                                    <th>Status</th>
                                    <th>Create Date</th>
                                </tr>
                            </thead>
                            <tbody>
                                @foreach (var ticket in Model.Tickets)
                                {
                                    <tr>
                                        <td>@ticket.Title</td>
                                        <td>@ticket.Submitter</td>
                                        <td>@ticket.AssignedUser.FirstName @ticket.AssignedUser.LastName</td>
                                        <td>@ticket.Status</td>
                                        <td>@ticket.CreateDate</td>
                                    </tr>
                                }
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>