@{
    ViewBag.Title = "Swatter - Projects";
    ViewBag.ModalController = "Projects";
    ViewBag.ModalAction = "DeleteProject";
    ViewBag.ModalType = "Project";
}
@model BugTracker.Models.Projects.ProjectIndexModel
@await Html.PartialAsync("_DeleteProjectPartial")

<div class="container-fluid">
    <div class="row">
        <div class="col col-12 p-4 d-flex">
            <div class="card w-100">
                <div class="card-header">
                    <h2>My Projects</h2>
                </div>
                <div class="card-body">
                    <div class="table table-responsive">
                        <table class="dataTable table table-sm">
                            <thead>
                                <tr>
                                    <th>Project Name</th>
                                    <th>Description</th>
                                    <th>Creator</th>
                                    <th>Last Updated</th>
                                    <th>Last Updated By</th>
                                    <th></th>
                                </tr>
                            </thead>
                            <tbody>
                                @foreach (var project in Model.Projects)
                                {
                                    <tr>
                                        <td>@project.Title</td>
                                        <td>@project.Description</td>
                                        <td>@project.Creator.UserName</td>
                                        <td>@project.LastUpdateDate</td>
                                        <td>@project.LastUpdatedBy.UserName</td>
                                        <td class="text-left">
                                            <ul class="float-right" style="line-height:5px;">
                                                <li>
                                                    <span>
                                                        <a class="nav-link"
                                                           asp-action="ProjectDetails"
                                                           asp-route-projectId="@project.Id">Details</a>
                                                    </span>
                                                </li>
                                                <li>
                                                    <span>
                                                        <a class="nav-link"
                                                           asp-action="EditProject"
                                                           asp-route-projectId="@project.Id">Edit Project</a>
                                                    </span>
                                                </li>
                                                <li>
                                                    <a id="deleteProjectModal"
                                                       asp-action=""
                                                       data-toggle="modal"
                                                       data-target="#modal-delete"
                                                       data-id="@project.Id"
                                                       class="nav-link text-danger">Delete</a>
                                                </li>
                                            </ul>
                                        </td>
                                    </tr>
                                }
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col px-4 pb-4">
            <a class="btn btn-primary" asp-action="NewProject">Create New Project</a>
        </div>
    </div>
</div>