@{ 
    ViewBag.Title = "Swatter - Project Details";
}
@model BugTracker.Models.Projects.ProjectListingModel
<div class="container-fluid">
    <div class="row">
        <div class="col">
            <div class="m-2 d-flex">
                <a class="btn btn-outline-secondary mr-4" asp-action="Index">Back to Projects</a>
                <a class="btn btn-primary"
                   asp-action="EditProject"
                   asp-route-projectId="@Model.Id">Edit Project</a>
            </div>
            <div class="card m-2">
                <div class="card-header">
                    <h3>Details for @Model.Title</h3>
                </div>
                    <div class="card-body">
                        <div class="row justify-content-around">
                            <div class="col col-1">
                                <h5>Title</h5>
                                <div>@Model.Title</div>
                            </div>
                            <div class="col col-5">
                                <h5>Description</h5>
                                <div>@Model.Description</div>
                            </div>
                            <div class="col col-2">
                                <h5>Creator</h5>
                                <div>@Model.Creator.UserName</div>
                            </div>
                            <div class="col col-2">
                                <h5>Last Updated</h5>
                                <div>@Model.LastUpdateDate</div>
                            </div>
                            <div class="col col-2">
                                <h5>Last Updated By</h5>
                                <div>@Model.LastUpdatedByUsername</div>
                            </div>
                        </div>
                    </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col">
            <div class="card m-2">
                <div class="card-header">
                    <h3>Project Users</h3>
                </div>
                <div class="card-body">
                        <div class="table-responsive">
                            <table class="table table-bordered" width="100%" cellspacing="0" id="dataTable" style="table-layout:fixed">
                                <thead>
                                    <tr>
                                        <th>Name</th>
                                        <th>Username</th>
                                        <th>Role(s)</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    @foreach (var user in Model.ProjectUsers.Users)
                                    {
                                        <tr>
                                            <td>@user.FullName</td>
                                            <td>@user.UserName</td>
                                            <td>@user.Roles</td>
                                        </tr>
                                    }
                                </tbody>
                            </table>
                        </div>
                </div>
            </div>
        </div>
        <div class="col">
            <div class="card m-2">
                <div class="card-header">
                    <h3>Project Tickets</h3>
                </div>
                <div class="card-body">
                    <div class="table-responsive">
                        <table class="table table-bordered" width="100%" height="200px" id="dataTable" cellspacing="0" style="table-layout:fixed">
                            <thead>
                                <tr>
                                    <th>Title</th>
                                    <th>Submitter</th>
                                    <th>Developer</th>
                                    <th>Status</th>
                                    <th>Create Date</th>
                                </tr>
                            </thead>
                            <tbody>
                                @foreach (var ticket in Model.Tickets)
                                {
                                    <tr>
                                        <td>@ticket.Title</td>
                                        <td>@ticket.Submitter</td>
                                        <td>@ticket.AssignedUser.FirstName @ticket.AssignedUser.LastName</td>
                                        <td>@ticket.Status</td>
                                        <td>@ticket.CreateDate</td>
                                    </tr>
                                }
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>